/* ********************************* */
/* GLOBAL STYLES                     */
/* ********************************* */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 0.8em;
  display: inline-block;
}

i {
  color: #7f8c8d;
  font-size: 2em;
}

a:link,
a:visited {
  color: #111;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

i:hover {
  color: #111;
  cursor: default;
}

/* ********************************* */
/* Header                            */
/* ********************************* */
header {
  clear: right;
  overflow: hidden;
}

nav {
  float: right;
  min-width: 300px;
}


nav li:first-child {
  font-weight: 300;
}

nav li {
  margin-right: 12px;
}

nav i {
  vertical-align: middle;
}

nav li:nth-child(4) {
  margin: 0 25px 0 15px;
}


/* ********************************* */
/* Search                            */
/* ********************************* */

section {
  width: 720px;
  margin: 100px auto;
}

.logo {
  width: 300px;
  margin: 0 210px;
}

.search-form {
  width: 620px;
  margin: 0 50px;
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 7px;
}

input[type="submit"] {
  color: #6C7A89;
  font-size: 0.9em;
  margin-top: 30px;
  padding: 10px;
  border: none;
  background-color: #ecf0f1;
}

input[type="submit"]:hover {
  border: 1px solid #bdc3c7;
  color: #111;
  padding: 9px;
}

input[type="submit"]:nth-child(1) {
  margin-right: 10px;
  margin-left: 34px;
}

.buttons {
  width: 310px;
  margin: 0 auto;
}


/* ********************************* */
/* Footer                            */
/* ********************************* */

footer {
  background-color: #ecf0f1;
  border: 1px solid #ECECEC;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .left-footer {
  float: left;
}

footer .right-footer {
  float: right;
}

footer li {
  margin-right: 25px;
}

.left-footer li:first-child {
  margin-left: 25px;
}
